@charset "utf-8";
/* 你自己的样式 */
.field-validation-error span {
    color: red;
    display: inline-block;
}

.pager {
    margin: 10px auto;
    text-align: center;
}

.pager a {
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #666;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
}

.pager input[type=text] {
    width: 30px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.pager input[type=button] {
}
