@{
    ViewBag.Title = string.Format("小组管理 - {0}", Yj.Common.Config.WebTitle);
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 小组管理 <span class="c-gray en">&gt;</span> 小组列表
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "gridTable" }))
    {
        <div class="text-c">
            <input type="text" class="input-text" style="width: 250px" placeholder="输入小组名称" id="team_name" name="team_name">
            <input type="hidden" id="isSearch" name="isSearch" value="1" />
            <button type="submit" class="btn btn-success" id="btnSearch" name=""><i class="Hui-iconfont">&#xe665;</i> 搜小组</button>
        </div>
    }
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <a href="javascript:;" onclick="edit_team('添加小组','/Team/EditTeam','800','260')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加小组</a>
        </span>
    </div>
    @Html.Partial("TeamListPartial")
</div>
<script type="text/javascript">
    // 刷新列表
    function reloadData() {
        $('#btnSearch').click();
    }

    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*管理员-增加*/
    function edit_team(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    /*管理员-删除*/
    function del_team(id) {
        if (!isNullOrEmpty(id)) {
            layer.confirm('确认要删除吗？', function (index) {
                // 删除小组
                $.ajax({
                    type: 'Post',
                    url: '/Team/DeleteTeam',
                    data: { team_id: id },
                    dataType: 'text', // 返回数据格式
                    success: function (data) {
                        if (data.toLowerCase() == 'true') {
                            layer.msg('删除成功!', { icon: 1, time: 1000 });
                            $('#btnSearch').click();
                        }
                        else {
                            layer.msg('删除失败!', { icon: 1, time: 1000 });
                        }
                    }
                });
            });
        }
    }
    /*管理员-批量删除*/
    function datadel() {
        layer.msg('该功能暂未开通!', { icon: 1, time: 1000 });
    }
</script>
